<div class="text-center footer">
    <h3 style="color:grey;padding-top:60px">Hire Epilancers for a fraction of the cost!</h3>
    <div class="round">
        <div class="col-md-4">
            <button class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-tower"></span></button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-success btn-lg"><span class= "glyphicon glyphicon-piggy-bank"></span></button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-lg"><span class= "glyphicon glyphicon-thumbs-up"></span></button>
        </div>
    </div>
</div>
